.header {
    height: 100px;
    text-align: center;
}
section {
    height: 100px;
    text-align: center;
}
button {
    width: 100px;
    height: 50px;
    margin-left: 70px;
    font-size: 12pt;
    font-weight: bold;
}
.selected {
    background-color: lightblue;
}